numpy
pandas
matplotlib
seaborn
scipy
scikit-learn==1.5.2
tensorflow
torch
flask
werkzeug
opencv-python
bs4
requests
sqlalchemy
redis
pytest
joblib
xgboost
lightgbm
pytz==2024.1
boto3
flask-sqlalchemy 
psycopg2-binary


